RewriteEngine on
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ /publicidad/index.php/$1 [L]

#RewriteEngine on
#RewriteCond $1 !^(index\.php|css|js|images|robots\.txt|assets)
#RewriteRule ^(.*)$ /publicidad/index.php/$1  [L]